svg {
  border: solid 1px #aaa;
}

.button {
  font-family: Arial;
  text-align: center;
  border: 2px solid #66E;
  border-radius: 7px;
  color: black;
  background: #CCF;
  display: inline-block;
  text-decoration: none;
  padding: 2px 4px;
  margin: 6px;
}

.button:hover {
  border: 2px solid #FFB351;
}

.button.active {
  border: 2px solid #FFB351;
  background: #FFDFB9;
}
