svg {
  border: solid 1px #aaa;
}

.button {
  font-family: Arial;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #ddd;
  background: #222;
  display: inline-block;
  text-decoration: none;
  padding: 2px 4px;
  margin: 6px;
}

.button:hover {
  background: #555;
  border: 1px solid #eee;  
}

.button.active {
  border: 1px solid #eee;
}
